# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
venv/
.env

# Database
*.db

# ML models
*.pkl

# Node
frontend/node_modules/
frontend/build/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
